<div class="container box" style="margin-top: 10px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="padding-top: 20px;">
                <div class="container box" style="margin-top: 10px;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Description</th>
                                <th>Assign</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let permission of permissions">
                                <td scope="row">{{ permission.code }}</td>
                                <td>{{ permission.description }}</td>
                                <td>
                                    <div class="form-group">
                                        <input type="checkbox" class="form-control" name="assign" id="{{permission.id}}"
                                            [(ngModel)]="permission.assign">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="button" (click)="onAssignSubmit()">Edit</button>
</div>